@font-face {
    font-family: Glamor;
    src: url('./fonts/Glamor.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292929;
    
}


#content {
    width: 100%;
}

#header {
    display: flex;
    justify-content: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-button {
    margin: 1.3rem 0rem;
    padding: 0.20rem 1.25rem;

    letter-spacing: 0.2rem;
    font-family: Poppins;
    font-size: 1.2rem;
    color: rgb(207, 207, 207);

    background-color: #292929;
    border: none;
    border-radius: 0.25rem;
}
.header-button:hover {
    cursor: pointer;
    background-color:rgb(245, 245, 245);
    color: #3d3d3d;
}
.header-active-link {
    font-weight: bold;
    color: white;
    pointer-events: none;
}
#main-section {
    background-color: #242424;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    margin: 3rem auto 3rem auto;
    padding: 2rem 1rem;
    width: min(80%,1000px);
    border-radius: 1rem;
}
.section-paragraph, .section-title, .page-title, #home-img{
    width: clamp(300px,50%,700px);
}
.page-title {
    font-family: Glamor;
    font-size: 2.1rem;
    color: rgb(245, 245, 245);
    letter-spacing: 0.2rem;
    text-align: center;
}

#home-img {
    box-shadow: rgb(255, 216, 44) 0px 0px 12px ;
}

.section-paragraph, .section-title {
    letter-spacing: 0.1rem;
    line-height: 1.25rem;
}
.section-paragraph {
    color: rgb(214, 214, 214);
}
.section-title {
    color: rgb(245, 245, 245);
}

#gallery-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.gallery-grid-img {
    width: 100%;
    height: auto;
    transition: 0.25s;
}
.gallery-grid-img:hover {
    transform: scale(1.1);
    box-shadow: rgb(255, 216, 44) 0px 0px 18px ;
}